<!doctype html>
<html lang="es" ng-app="angularPP">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PingPong Rank</title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/common/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body ng-controller="mainController">
    <div class="container">
      <!-- Cabecera -->
      <div class="jumbotron text-center">
          <h1>PingPong Rank
              <!-- <span class="label label-info"> {{ jugadores.length }} </span> -->
          </h1>
      </div>
      <!-- Lista de Jugadores -->
      <div id="jugador-list" class="row">
          <div class="col-sm-4 col-sm-offset-4">
              <div class="checkbox" ng-repeat="jugador in ranks">
                  {{jugador.name}} {{jugador.surname}} email: &ic;{{jugador.email}}
              </div>
          </div>
      </div>
      <!-- Form para agregar jugadores -->
      <form>
        <div class="form-jugadores">
          <input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newJugador.name">
          <input type="text" class="form-control input-lg text-center" placeholder="Apellido" ng-model="newJugador.surname">
          <input type="text" class="form-control input-lg text-center" placeholder="e-mail" ng-model="newJugador.email">
        </div>
        <button class="btn btn-primary btn-lg" ng-click="createJugador()">
          Añadir
        </button>
      </form>
      <!-- Lista de Partidos -->
      <div id="partido-list" class="row">
          <div class="col-sm-4 col-sm-offset-4">
              <div class="checkbox" ng-repeat="partido in games">
                  {{partido.jugador11}} {{partido.jugador21}}
                  <!-- resultado: &ic;{{partido.setsGanador}}&ic;{{partido.setsGanador}} -->
              </div>
          </div>
      </div>
      <!-- Form para agregar partidos -->
      <form>
        <div class="form-partidos">
          Dobles: <input type="checkbox" name="dobles" ng-model="doble" id="check">
          <input type="text" class="form-control input-lg text-center" placeholder="Jugador 1" ng-model="newPartido.jugador11">
          <input ng-show={{doble}} type="text" class="form-control input-lg text-center" placeholder="Jugador 12" ng-model="newPartido.jugador12">
          <input type="text" class="form-control input-lg text-center" placeholder="Jugador 2" ng-model="newPartido.jugador21">
          <input ng-show={{doble}} type="text" class="form-control input-lg text-center" placeholder="Jugador 22" ng-model="newPartido.jugador22">
          <input type="text" class="form-control input-lg text-center" placeholder="2" ng-model="newPartido.setsGanador">
          <input type="text" class="form-control input-lg text-center" placeholder="1" ng-model="newPartido.setsPerdedor">
          <!-- TODO: Los puntos deberian ser casilleros y estar indexados para el array, dependiendo de la cantidad de sets que se jugaron. -->
          <input type="text" class="form-control input-lg text-center" placeholder="21" ng-model="newPartido.puntosGanador">
          <input type="text" class="form-control input-lg text-center" placeholder="19" ng-model="newPartido.puntosPerdedor">
        </div>
        <button class="btn btn-primary btn-lg" ng-click="createPartido()">
          Añadir
        </button>
      </form>
    </div>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
    <script src="/common/jquery.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> -->
    <script src="/common/angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>